<template>
    <div>
      <h2>Products</h2>
      <ul>
        <li v-for="(product, index) in products" :key="index">
          <div class="product-item">
            <img :src="product.image" :alt="product.name" />
            <div class="product-info">
              <h3>{{ product.name }}</h3>
              <p>Price: ${{ product.price }}</p>
              <button @click="addToCart(product)">Add to Cart</button>
            </div>
          </div>
        </li>
      </ul>
      <p>Cart Items: {{ cartItemCount }}</p>
    </div>
  </template>
  
  <script>
  import { ref, computed } from 'vue';
  import store from '../store';
  import BananaImage from '../assets/banana.jpg';
  import AppleImage from '../assets/apple.jpg';
  
  
  export default {
    setup() {
      const products = ref([
        { id: 1, name: 'Banana', price: 10, image: BananaImage },
        { id: 2, name: 'Apple', price: 25, image: AppleImage },
        // Add more products here
      ]);
  
      const addToCart = (product) => {
        store.addToCart(product);
      };
  
      const cartItemCount = computed(() => store.state.cart.length);
  
      return {
        products,
        addToCart,
        cartItemCount,
      };
    },
  };
  </script>
  
  <style>
  /* Add styles for product items here */
  .product-item {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .product-item img {
    max-width: 100px;
  }
  </style>
  